h1     { color: black; }
h2     { color: blue; font-size: 20pt; }
h3     { color: blue; }
p      { color: blue; }
small  { color: black; }
body   { background-color: lightblue; }
em     { color: darkblue; }
strong { font-size: 30px; }
footer { color: black; }
a:link {color: black; font-size: 14pt; }
a:visited {color: black; font-size: 14pt; }
a:hover {color: red; font-size: 14pt; }
a:focus {color: green; font-size: 14pt; }
a:active {color: blue; font-size: 14pt; }
span.navigationSpace {
    padding-left: 30px;
}
hr {
    background-color: black;
    border-color: black;
    display: block;
    height: 3px;
    border: 0;
    border-top: 1px solid black;
    margin: 1em 0;
    padding: 0; 
}